.header:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.header{
    font-size: 160%;
    font-family: $font2;
    padding: 30px 20px;
    display: inline-block;
    transition: all 0.5s;
    
}
header{
    text-align: center;
    background-color: $darkgrey;
    text-transform: uppercase;

    & li a:hover{
        color: $black;
        transition: all 0.2s;
    }
}
a{
    color: $white;
    text-decoration: none;
    transition: all 0.2s;
}